<div class="fading-circle-spinner">
  <div class="fading-circle1 fading-circle"></div>
  <div class="fading-circle2 fading-circle"></div>
  <div class="fading-circle3 fading-circle"></div>
  <div class="fading-circle4 fading-circle"></div>
  <div class="fading-circle5 fading-circle"></div>
  <div class="fading-circle6 fading-circle"></div>
  <div class="fading-circle7 fading-circle"></div>
  <div class="fading-circle8 fading-circle"></div>
  <div class="fading-circle9 fading-circle"></div>
  <div class="fading-circle10 fading-circle"></div>
  <div class="fading-circle11 fading-circle"></div>
  <div class="fading-circle12 fading-circle"></div>
</div>